{{#*inline "page"}}
    <section class="hero is-dark is-small">
        <div class="hero-body">
            <div class="container">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div>
                                <h1 class="title is-spaced">
                                    Maximum Performance.
                                    <br>
                                    Zero Compromises.
                                </h1>
                                <h2 class="subtitle">
                                    That's our promise.
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <a href="/comments" class="button is-bold is-large is-primary is-rounded">
                                <span class="icon"><i class="material-icons">chat</i></span>
                                <span>Visit The Boards</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <figure class="image is-16by9">
                <a href="/shop/cum">
                    <img class="is-rounded-rect has-border" src="/sale.jpg" alt="Sale Background">
                </a>
            </figure>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {{#each ads}}
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-image">
                                <div class="columns is-mobile is-centered">
                                    <div class="column is-half-mobile is-three-fifths-tablet">
                                        <figure class="image is-square">
                                            {{#with image as | image |}}
                                                <img src="/{{ image }}" alt="Image">
                                            {{else}}
                                                <img src="/404.png" alt="Missing Image">
                                            {{/with}}
                                        </figure>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                <div>
                                    <p class="card-header-title title">{{ pretty_name }}</p>
                                    <p class="subtitle">
                                        {{ desc }}
                                    </p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="{{ link }}" class="card-footer-item">Shop Now</a>
                            </footer>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="box">
                <h1 class="subtitle">
                    <strong>Our Story</strong>
                </h1>
                <p>
                    We founded a cum engine shop in 1928, with the idea of providing people the ability to buy premium
                    quality cum products directly from our shop by cutting out the middle man. At the time, almost all
                    cum engines were home delivered and paid for on a weekly or monthly basis.
                    <br>
                    <a href="/about">Read More...</a>
                </p>
            </div>
        </div>
    </section>
{{/inline}}

{{~> layout~}}
