<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ desc }}">
    <meta property="og:site_name" content="Cum Engineers">
    <meta property="og:url" content="https://cum.engineer">
    <meta property="og:image" content="https://cum.engineer/{{ image }}">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="theme-color" content="#ffff3a">
</head>

<body>

{{> nav}}
{{~> page}}
{{> footer}}

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Add click event to all "navbar-burger" elements
        for (const el of document.querySelectorAll('.navbar-burger')) {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = document.getElementById(el.dataset.target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                target.classList.toggle('is-active');
            });
        }
    });
</script>

<script async defer src="https://sa.cum.engineer/latest.js"></script>
<noscript><img src="https://sa.cum.engineer/noscript.gif" alt=""/></noscript>

</body>

</html>
