<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ desc }}">
    <meta property="og:site_name" content="Milk Engineers">
    <meta property="og:url" content="https://milk.engineer">
    <meta property="og:image" content="https://milk.engineer/{{ image }}">

    <link rel="manifest" href="/site.webmanifest">

    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="icon" href="/icon.png">

    <link rel="stylesheet" href="/styles.css">

    <meta name="theme-color" content="#ffff3a">
</head>

<body>

{{> nav}}
{{~> page}}
{{> footer}}

<script src="/script.js"></script>

<script async defer src="https://sa.milk.engineer/latest.js"></script>
<noscript><img src="https://sa.milk.engineer/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript> 

{{~> scripts}}

</body>

</html>
