<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ desc }}">
    <meta property="og:site_name" content="Cum Engineers">
    <meta property="og:url" content="https://cum.engineer">
    <meta property="og:image" content="https://cum.engineer/{{ image }}">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="/styles.css">

    <meta name="theme-color" content="#ffff3a">
</head>

<body>

{{> nav}}
{{~> page}}
{{> footer}}

<script src="/script.js"></script>

<script data-skip-dnt="true" async defer src="https://sa.cum.engineer/latest.js"></script>
<noscript><img ignore-dnt=true src="https://sa.cum.engineer/noscript.gif" alt=""/></noscript>

{{~> scripts}}

</body>

</html>
